---
# Only the main Sass file needs front matter (the dashes are enough)
---

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "fonts",
        "syntax-highlighting"
;

body {
    font-family: 'Josefin Sans', sans-serif;
}

main {
    display: block;
    flex: 1 0 auto;
}

pre, code {
    font-family: 'Fira Code', monospace;
    border: none;
    border-radius: 0px;
    font-size: 1.4rem;
    line-height: 3.2rem;
    margin: 30px 0;
}

p code {
    font-size: 1.4rem;
    padding: 1px;
    //background-color: #dedede;
    color: #c7254e;
    background-color: #f9f2f4;
    border-radius: 4px;
}

.navbar {
    margin-bottom: 0;
}

.container-fluid .jumbotron {
    height: 500px;
    background: url('http://res.cloudinary.com/neoelemento/image/upload/v1464982113/blog/passion-min.jpg') center 30%;
    /*background-color: #1b1b25;*/
    background-size: cover;
    border-bottom: 10px solid lightgreen;
    color: white;
    margin-bottom: 75px;
    border-radius: 0;
}

.container-fluid .jumbotron-single {
    min-height: 325px;
    border-bottom: 10px solid lightgreen;
    background-color: #1b1b25;
    color: white;
    margin-bottom: 10px;
    padding: 50px 0;
    border-radius: 0;
}

.title-about {
    font-weight: 700;
    text-transform: uppercase;
}

.single-article {
    border-bottom: 3px solid lightgreen;
    margin-bottom: 25px;
    padding-bottom: 25px;
}

.post-title {
    font-weight: 700;
    text-transform: uppercase;
}

.post-title-single {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 5rem;
}

.post-desc {
    font-size: 2.2rem;
    font-weight: 700;
}

.post-desc-single {
    font-size: 2.8rem;
    font-weight: 700;
}

.post-meta {
    font-weight: 700;
}

.post-category {
    font-weight: 700;
    text-transform: uppercase;
    border-bottom: 2px solid #5cb85c;
}

.post-featured-img {
    width: 100%;
}

.post-meta img {
    width: 150px;
    height: 150px;
}

.post-body {
    padding: 15px 2px;

    h1 {
        font-size: 4.2rem;
        font-weight: 700;
    }

    h2 {
        font-size: 3.6rem;
        font-weight: 700;
    }

    h3 {
      font-size: 3.2rem;
      font-weight: 700;
    }
    
    h4 {
      font-size: 2.8rem;
      font-weight: 700;
    }
    
    h5 {
      font-size: 2.6rem;
      font-weight: 700;
    }

    p {
        font-size: 2.2rem;
        line-height: 3rem;
        word-spacing: .4rem;
        font-weight: 400;
        color: #393939;
    }

    ul li, ol li {
        font-size: 2.2rem;
        line-height: 3rem;
        word-spacing: .4rem;
        font-weight: 400;
        color: #393939;
    }
}

// .post-body img:not(.emoji) {
//     width: 100%;
//     margin: 10px 0 20px 0;
// }

.footer-content {
    min-height: 20px;
    padding: 20px;
    text-align: center;
}

.copyright {
    text-align: center;
    color: salmon;
}



/* overrides */

.btn-green {
    color: #1b1b25;
    background-color: lightgreen;
    border-color: #5cb85c;
}

.btn-green:hover {
    color: white;
    background-color: #5cb85c;
    border-color: #5cb85c;
}

/* links */

a, a:hover, a:visited {
    color: #5cb85c;
    text-decoration: none;
}

h2 a, h2 a:hover, h2 a:visited {
    color: black;
    text-decoration: none;
}

.more-link, .more-link:hover, .more-link:visited {
    text-transform: uppercase;
    color: salmon;
    font-weight: 700;
    text-decoration: none;
}