---
layout: default
---

<div class="container-fluid">
    <div class="row">
        <div class="jumbotron-single text-center">
            <div class="col-md-8 col-md-offset-2">
                <h2 class="post-title-single">{{ page.title }}</h2>
                <!--<h3 class="post-desc-single">{{ page.excerpt }}</h3>-->
                <p class="post-meta">Posted in {% for category in page.categories %}<a href="/blog/archives/#{{ category }}">{{ category }}</a>{% if forloop.last == false %}, {% endif %}{% endfor %}
                  on {{ page.date | date: "%B %d, %Y" }}</p>
            </div>               
        </div>
    </div>
</div>

<section class="container-fluid">
    <div class="row">
        <article class="col-md-6 col-md-offset-3 single-article">
            <div class="post-body">
                {{ content }}
            </div>
        </article>
    </div>
</section>